__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
*.egg-info/
dist/
build/
*.so
*.o
*.lo
*.la
*.dll
*.dylib
*.exe
*.out
*.app
*.dmg
*.deb
*.rpm
*.pkg
*.msi
*.msm
*.msp
*.swp
*.swo
*~
.DS_Store
.env
.huggingface/
models/
data/raw/
*.pkl
*.jsonl